
.vip-popout .shade {
    position: absolute;
    z-index: 10000;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #1b1b1f;
    opacity: 0.5;
}

.content {
    position: absolute;
    z-index: 10001;
    top: 15vw;
    left: 25vw;
    width: 50vw;
    max-width: 1080px;
    background: #ffffff;
    opacity: 1;
    border-radius: 15px;
    overflow: hidden;
    color: #5d5d68;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.title {
    padding: 15px;
    background-color: #eff0f3;
}

.section {
    width: 90%;
    margin: 0 auto 30px auto;
}

.prods {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin: 0px auto;
}

.prod {
    width: 180px;
    margin: 15px;
}

.prod h2 {
    font-weight: bold;
}

.prod .price {
    color: #fa9321;
    margin: 5px 0;
    font-size: 12px;
}

.prod .unitPrice {
}

.prod .unitPrice .amt {
    font-size: 16px
}

.markPrice {
    margin-left: 5px;
    text-decoration-line: line-through;
    color: #babbbd;
    font-size: 12px;
}

.prod .rights {
    font-size: 14px;
}

.pay {

    border-top: solid 1px #eee;
}

.qrcode {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.qrcodeimg {
    width: 200px;
    height: 200px;
    border: solid 1px #e4efea;
    margin: 20px auto;
}